/*!
Theme Name: Transiberia
Author: Transiberia
Author URI: 
Description: Transiberia responsive HTML5 theme
Version: 1.0
License: Copyright 2024 Transiberia
License URI: 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: theme("colors.black");
  --alt-black: theme("colors.alt-black");
  --dark-primary: theme("colors.dark-primary");
  --primary: theme("colors.primary");
  --grey: theme("colors.grey");
  --light-grey: theme("colors.light-grey");
  --off-white: theme("colors.off-white");
  --white: theme("colors.white");
  --tw-shadow-color: rgba(26, 26, 26, 0.6);
}

::-moz-selection {
  color: var(--white);
  background: var(--black);
}

::selection {
  color: var(--white);
  background: var(--black);
}

body {
  @apply text-black;
}

input[type="submit"],
.cta,
.cta__label {
  @apply font-sans font-semibold;
  font-size: calc(15rem / 16);
  line-height: calc(19 / 15);
}

input[type="submit"],
.cta {
  @apply inline-flex items-center rounded-3xl px-8;
  @apply bg-dark-primary text-white transition-colors;
  min-height: theme("spacing.12");
}

@media screen(lg) {
  input[type="submit"],
  .cta--bigger {
    @apply px-16;
    font-size: calc(22rem / 16);
    line-height: calc(28 / 22);
    min-height: theme("spacing.16");
    border-radius: theme("spacing.8");
  }
}

a:hover .cta,
a:active .cta,
a:focus .cta,
.cta:hover,
.cta:active,
.cta:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  @apply bg-primary;
}

.cta--negative {
  @apply bg-white;
  @apply text-dark-primary;
}

.cta--neutral {
  @apply bg-white;
  @apply text-black;
}

a:hover .cta--negative,
a:active .cta--negative,
a:focus .cta--negative,
.cta--negative:hover,
.cta--negative:active,
.cta--negative:focus,
.cta--neutral:hover,
.cta--neutral:active,
.cta--neutral:focus {
  @apply bg-white text-primary;
}

.centered-row {
  @apply mx-auto px-4;
  max-width: theme("maxWidth.row");
}

.centered-row--smaller {
  max-width: calc(712rem / 16);
}

.menu-toggler__bar {
  transform-origin: center center;
  transform: translateZ(0) translateY(0) rotate(0deg);
  transition:
    width 0.2s ease-in-out 0s,
    transform 0.2s ease-in-out 0s,
    opacity 0.2s ease-in-out 0s,
    background-color 0.2s ease-in-out 0s;
}

.menu-toggler:checked ~ .menu-toggler__label .menu-toggler__bar:first-child {
  @apply opacity-0;
}

.menu-toggler:checked ~ .menu-toggler__label .menu-toggler__bar:nth-child(2) {
  transform: translateZ(0) translateX(-3px) translateY(5px) rotate(45deg);
  width: 22px;
}

.menu-toggler:checked ~ .menu-toggler__label .menu-toggler__bar:nth-child(3) {
  transform: translateZ(0) translateX(-3px) translateY(-5px) rotate(-45deg);
  width: 22px;
}

.content:not(.content .content) > *:not(section):not(header) {
  @apply centered-row;
}

.content li:not(.subpages li),
.content p {
  @apply basic-text;
}

.content ul:not(.subpages ul),
.content ol:not(.subpages ol) {
  @apply pl-4;
}

.content ol:not(.subpages ul) ol,
.content ol:not(.subpages ul) ul,
.content ul:not(.subpages ul) ol,
.content ul:not(.subpages ul) ul {
  @apply my-2;
}

.content ol {
  @apply list-decimal;
  counter-reset: my-counter;
}

.content ol {
  @apply list-none;
}

.content ol > li {
  counter-increment: my-counter;
}

.content ol > li:before {
  content: counter(my-counter) ". ";
  @apply text-[0.7em] font-semibold;
}

.content ul > li:not(.subpages li) {
  @apply pl-2 before:mr-2 before:content-['•'];
}

.content li + li:not(.subpages li) {
  @apply mt-2;
}

.content a:not(.cta) {
  @apply text-dark-primary underline;
}

.content > h1,
.content > h2 {
  @apply big-title;
}

.content > h3 {
  @apply title;
}

.content > h4,
.content > h5,
.content > h6 {
  @apply !font-semibold basic-text;
}

.content:not(.content .content) > img:first-child:not(header *),
.content img:not(:first-child):not(header *),
.content:not(.content .content) > p:first-child,
.content p:not(:first-child),
.content:not(.content .content) > h4:first-child,
.content h4:not(:first-child),
.content:not(.content .content) > h5:first-child,
.content h5:not(:first-child),
.content:not(.content .content) > h6:first-child,
.content h6:not(:first-child),
.content ul:not(.subpages ul),
.content ol:not(.subpages ol) {
  @apply mt-6 lg:mt-8;
}

.content > section:not(:first-child),
.content:not(.content .content) > h1:first-child,
.content h1:not(:first-child),
.content:not(.content .content) > h2:first-child,
.content h2:not(:first-child),
.content:not(.content .content) > h3:first-child,
.content h3:not(:first-child) {
  @apply mt-8 lg:mt-16;
}

.content:not(.content .content) > *:last-child:not(.ctas-section) {
  @apply mb-8 lg:mb-16;
}

.content img {
  @apply h-auto max-w-full;
}

/**form**/

.wpcf7-form .wpcf7-response-output {
  @apply hidden;
}

.indication,
.wpcf7-form.sent .wpcf7-response-output,
.wpcf7-form.invalid .wpcf7-response-output {
  @apply rounded-field bg-off-white px-4 py-3.5 text-center !form-text md:flex md:min-h-16 md:flex-col md:justify-center;
}

.wpcf7-form.invalid .wpcf7-response-output {
  @apply mt-6 bg-red-200 lg:mt-8;
}

.wpcf7-form.sent .wpcf7-response-output {
  @apply mt-6 lg:mt-8;
}

.wpcf7-form * {
  outline-color: var(--primary);
}

.wpcf7-form label {
  @apply relative w-full form-text;
  @apply mt-4 block select-none lg:mt-6;
}

.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input:not([type="submit"]):not([type="checkbox"]) {
  @apply min-h-12 w-full rounded-field border border-grey pl-4 md:min-h-16 md:pl-6;
}

.wpcf7-form select::placeholder,
.wpcf7-form textarea::placeholder,
.wpcf7-form input::placeholder {
  @apply text-grey;
}

.wpcf7-form input[type="submit"] {
  @apply cursor-pointer;
}

.wpcf7-form input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  @apply absolute left-0 top-0 h-6 w-6 select-none rounded-md border border-grey md:h-8 md:w-8 md:rounded-xl;
}

.wpcf7-form input[type="checkbox"]:checked {
  @apply bg-center bg-no-repeat max-md:bg-[size:80%];
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='14' viewBox='0 0 20 14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.04045 13.0608L19.0274 3.07387C19.169 2.93626 19.282 2.77204 19.3599 2.59061C19.4384 2.40773 19.4798 2.21104 19.4815 2.012C19.4833 1.81297 19.4453 1.61559 19.37 1.43137C19.2946 1.24715 19.1833 1.07978 19.0425 0.93904C18.9018 0.798296 18.7344 0.686993 18.5502 0.611623C18.366 0.536253 18.1686 0.498327 17.9696 0.500057C17.7706 0.501786 17.5739 0.543138 17.391 0.621697C17.2096 0.699623 17.0454 0.812613 16.9078 0.954165L7.98056 9.88136L3.04653 4.94733L3.04033 4.94124C2.75762 4.66819 2.37898 4.5171 1.98595 4.52052C1.59292 4.52393 1.21696 4.68158 0.93904 4.9595C0.661118 5.23742 0.503472 5.61338 0.500057 6.00641C0.496641 6.39944 0.64773 6.77808 0.920781 7.06079L6.92068 13.0608C7.20172 13.3419 7.58296 13.4999 7.98046 13.5C8.37795 13.4999 8.75941 13.3419 9.04045 13.0608Z' fill='%23016F44'/%3e%3c/svg%3e ");
}

.wpcf7-form input[type="checkbox"] + .wpcf7-list-item-label {
  @apply block cursor-pointer pl-10 md:pl-14;
}

.wpcf7-checkbox ~ .wpcf7-not-valid-tip {
  @apply pl-10 md:pl-14;
}

.wpcf7-not-valid-tip {
  @apply mt-2 block font-sans text-sm !font-semibold text-red-700;
}

.wpcf7-form textarea {
  @apply h-[12rem] pr-4 pt-3 md:pr-6 md:pt-[1.125rem] lg:h-[16rem];
}

.wpcf7-form .inputs-row {
  @apply w-full lg:flex lg:space-x-8;
}

.wpcf7-form .input-half-row > label {
  @apply lg:w-[calc(50%-theme(spacing.4))];
}

.wpcf7-quiz-label {
  @apply mb-2 block lg:mb-6;
}

.wpcf7-form-control-wrap {
  @apply mt-2 block lg:mt-6;
}

.wpcf7-form fieldset {
  @apply mt-6 lg:w-1/2;
}

.wpcf7-form fieldset h3 {
  @apply form-text;
}

.wpcf7-list-item {
  @apply m-0 block;
}

.wpcf7-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='7' viewBox='0 0 11 7' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.99999 7.00002C5.73479 6.99996 5.48048 6.89457 5.29299 6.70702L1.29299 2.70702C1.19748 2.61477 1.1213 2.50443 1.06889 2.38242C1.01648 2.26042 0.988893 2.1292 0.987739 1.99642C0.986585 1.86364 1.01189 1.73196 1.06217 1.60907C1.11245 1.48617 1.1867 1.37452 1.28059 1.28063C1.37449 1.18673 1.48614 1.11248 1.60904 1.0622C1.73193 1.01192 1.86361 0.986616 1.99639 0.98777C2.12917 0.988924 2.26039 1.01651 2.38239 1.06892C2.5044 1.12133 2.61474 1.19751 2.70699 1.29302L5.99999 4.58602L9.29299 1.29302C9.48159 1.11086 9.73419 1.01007 9.99639 1.01235C10.2586 1.01463 10.5094 1.11979 10.6948 1.3052C10.8802 1.49061 10.9854 1.74142 10.9877 2.00362C10.9899 2.26582 10.8891 2.51842 10.707 2.70702L6.70699 6.70702C6.5195 6.89457 6.26518 6.99996 5.99999 7.00002Z' fill='black'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 1rem);
  background-position-y: 50%;
  padding-right: calc(11px + 2rem);
}

.wpcf7-form input[type="date"]::-webkit-inner-spin-button,
.wpcf7-form input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.arrival-title,
.departure-title {
  @apply flex !font-semibold lg:relative lg:min-h-20 lg:items-center lg:pl-26;
}

.arrival-title:before,
.departure-title:before {
  content: "";
  @apply block h-6 w-6 max-lg:mr-4;
  @apply bg-center bg-no-repeat max-lg:bg-contain;
  @apply lg:absolute lg:left-0 lg:top-1/2 lg:h-20 lg:w-20 lg:-translate-y-1/2 lg:rounded-full lg:border-2 lg:border-light-grey;
}

.departure-title:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.5 7.90875C19.5 12.327 12 20.2222 12 20.2222C12 20.2222 4.5 12.3278 4.5 7.90875C4.5 3.37875 8.376 0.75 12 0.75C15.624 0.75 19.5 3.37875 19.5 7.90875Z' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3cpath d='M12 10.5C13.2426 10.5 14.25 9.49264 14.25 8.25C14.25 7.00736 13.2426 6 12 6C10.7574 6 9.75 7.00736 9.75 8.25C9.75 9.49264 10.7574 10.5 12 10.5Z' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3cpath d='M6 17.7878C3.27975 18.33 1.5 19.2308 1.5 20.25C1.5 21.9068 6.201 23.25 12 23.25C17.799 23.25 22.5 21.9068 22.5 20.25C22.5 19.2308 20.7203 18.33 18 17.7878' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3c/svg%3e");
}

.arrival-title:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.72498 6.15L11.325 22.875' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3cpath d='M21.525 9.975C17.625 13.5 12.825 9.15 9.97495 14.325L5.32495 6.375C8.24995 1.275 13.05 5.625 16.875 2.025L21.525 9.975Z' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3c/svg%3e ");
}

@media screen(lg) {
  .departure-title:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='32' viewBox='0 0 30 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25 10.545C25 16.436 15 26.963 15 26.963C15 26.963 5 16.437 5 10.545C5 4.505 10.168 1 15 1C19.832 1 25 4.505 25 10.545Z' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3cpath d='M15 14C16.6569 14 18 12.6569 18 11C18 9.34315 16.6569 8 15 8C13.3431 8 12 9.34315 12 11C12 12.6569 13.3431 14 15 14Z' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3cpath d='M7 23.717C3.373 24.44 1 25.641 1 27C1 29.209 7.268 31 15 31C22.732 31 29 29.209 29 27C29 25.641 26.627 24.44 23 23.717' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3c/svg%3e ");
  }

  .departure-title:after {
    content: "";
    @apply ml-6 h-0.5 w-full flex-1 bg-light-grey;
  }

  .arrival-title:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='31' viewBox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.29999 7.20001L15.1 29.5' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3cpath d='M28.7 12.3C23.5 17 17.1 11.2 13.3 18.1L7.09998 7.50001C11 0.700012 17.4 6.50001 22.5 1.70001L28.7 12.3Z' stroke='%23016F44' stroke-width='2' stroke-miterlimit='10' stroke-linecap='square'/%3e%3c/svg%3e ");
  }
}

.screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  word-wrap: normal !important;
}

@media (max-width: 1023px) {
  /*calc(theme("screens.lg") -1)*/
  input[name="mobile-menu-shown"]:not(:checked, .fade-out) ~ #menu-modal {
    @apply !hidden;
  }

  input[name="mobile-menu-shown"]:checked ~ #menu-modal {
    @apply animate-fadeIn;
  }

  input[name="mobile-menu-shown"].fade-out ~ #menu-modal {
    @apply animate-fadeOut;
  }
}

/*cookie plugin*/
#cookie-notice {
  @apply !bg-alt-black text-center small-text;
}

.cookie-notice-container {
  @apply px-[calc(2rem+15px)] py-2 text-white;
}

.cn-text-container {
  @apply m-0;
}

#cn-notice-text,
#cn-notice-buttons {
  @apply my-2;
}

.cn-button {
  @apply font-semibold text-primary;
}

.cn-close-icon:hover {
  @apply !opacity-100;
}

.cn-close-icon:after,
.cn-close-icon:before {
  @apply bg-light-grey transition-colors;
}

.cn-close-icon:hover:after,
.cn-close-icon:hover:before {
  @apply bg-white transition-colors;
}
